#banner_about {
    background-image: url('../../../public/images/banner-contact.png');
    object-fit: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
}

#img_obj {
    height: 80%;
    width: 100%;
}