#banner_home {
    object-fit: cover;
}

#title {
    background: linear-gradient(to bottom, orange, black);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 32px;
}